%head
	=javascript_include_tag("commandr/browser-detect.js")
	=javascript_include_tag("commandr/socket.io.js")
	=javascript_include_tag("commandr/speech-recognizer.js")
	=javascript_include_tag("commandr/jquery-1.11.1.min.js")
	=javascript_include_tag("commandr/commandr.js")
	=javascript_include_tag("commandr/s-to-t-demo.js")
	=javascript_include_tag("commandr/t-to-s-demo.js")
	=javascript_include_tag("commandr/jefstuff.js")
%body{:style => 'width:100%;margin:0'}
	.nav{:style => 'height:50px;background:gray;font-size:40px;font-weight:bold;'}
		COMMANDER
	%textArea#textArea{:name => 'text', :rows => '8', :style => 'display:none'}
	%audio{:autoplay => true, :preload => true, :autobuffer => true,
	       :controls => true, :class => "audio", :style => 'display:none'}
	.speak-button{:style => 'width:50px;height:50px;display:none'}
